* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Karla", sans-serif;
  background-color: #fff;
}

.header {
  padding: 30px;
  height: 65px;
  background-image: linear-gradient(to right, #672280, #A626D3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  gap: 7px;
}

.header img {
  width: 31px;
  height: 26px;
}

.header-title {
  color: white;
  letter-spacing: -10%;
  font-size: 20px;
}

.course-title {
  color: white;
  font-size: 12px;
}

.meme-container {
  margin-top: 28px;
  padding: 0px 30px;
}

.text-form {
  display: flex;
  gap: 33px;
}

.form-input {
  width: 222px;
  height: 37px;
  border-radius: 5px;
  border: 1px #D1D5DB solid;
  padding: 11px;
  background-color: #fff;
  width: 100%;
  margin-top: 3px;
}

.text-form-container label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.form-input[value] {
  color: #6B7280;
  font-size: 14px;
}

.fetch-btn {
  background-image: linear-gradient(to right, #672280, #A626D3);
  width: 100%;
  height: 44px;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
